/* -- Header Start -- */

.logo-section {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	height: 90vh;
	justify-content: center;

	img {
		width: 220px;

			@include tablet {
				margin: 0 9px;
				width: 22%;
			}

			@include desktop {
			    margin: 0 30px 0 0;
				width: 220px;
			}
	}

	p {
		font-size: 13px;
		@include tablet {
			text-align: left;
		    width: 180px;
		    font-size: .7rem;
		}
	}

	@include tablet {
		flex-flow: row nowrap;
	}

	@include desktop {
		justify-content: flex-start;
		padding-left: 38px;
	}
}

.active {
	.logo-section {
		height: 40vh;
		padding: 0px 0 20px 0;

		@include tablet {
			height: 18vh;
		}
		img {
			width: 148px;

			@include tablet {
				padding-left: 36px;
				width: 68px;
			}
		}

		form {
			@include tablet {
				margin: 70px;
			}
		}
	}
}

select {
	width: 120px;
}

option {
	font-size: 20px;
}

form {
    width: 260px;
    align-items: center;
    display: flex;
    flex-direction: column;
    @include tablet {
	    align-items: flex-start;
		}
}

/* -- Header End -- */