/* -- Stories Start -- */

.loading {
	background: url(assets/images/ajax-loader.gif) no-repeat center top;
	background-size: 30px ;
	display: none;
	height: 60px;
}

ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
}

li {
	background-position: center center;
	background-size: cover;
	height: 420px;
	list-style-type: none;
	width: 100vw;

		@include tablet {
			width: 50vw;
		}

		@include desktop {
			width: 25vw;
		}

		a {
			align-self: flex-end;
			color: #ffffff;			/* -- body font color - white -- */
			margin: 0 auto;
			text-decoration: none;
			width: 100%;
		}
}


.abstract-text {
	align-self: flex-end;
	background-color: rgba(0, 0, 0, .6);
	height: 160px;
	line-height: 20px;
	text-align: left;
	padding: 12px 18px 18px;
	width: 100vw;
}

.story-grid {
	box-sizing: border-box;
	display: block;
}

/* -- Stories End -- */