/* -- Stories Start -- */

.loading {
	background: url(assets/images/ajax-loader.gif) no-repeat center top;
	background-size: 30px ;
	display: none;
	height: 60px;
}

ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

li {
	background-position: center center;
	background-size: cover;
	height: 420px;
	list-style-type: none;
	width: 100vw;

		@include tablet {
			width: 50vw;
		}

		@include desktop {
			width: 25vw;
		}

		a {
			-webkit-align-self: flex-end;
			    -ms-flex-item-align: end;
			        align-self: flex-end;
			color: #ffffff;			/* -- body font color - white -- */
			margin: 0 auto;
			text-decoration: none;
			width: 100%;
			&:hover .abstract-text {
				height: 130px;
				padding: 12px 18px 18px;
			}
		}
}


.abstract-text {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	background-color: rgba(0, 0, 0, .6);
	height: 0;
	line-height: 20px;
	text-align: left;
	transition: height 1s ease-out,
				padding 2s;
	padding: 0 18px;
	width: 100vw;
}

.story-grid {
	box-sizing: border-box;
	display: block;
}

/* -- Stories End -- */