.wrapper {
  padding: 20% 0;
  text-align: center;
  background-color: black;
  color: white;
}

header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  height: 85vh;
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;

}

.flex-item {
  width: 25%;
  background-color: blue;
}



.container {
}

.selection-form {
}

form {
}

p {
  line-height: 40px;

  font-size: 16px;
}
select {
  width: 120px;
}

footer {
  text-align: center;
  height: 15vh;
  /*margin: 200px auto 10px;*/
}

footer span {
  text-transform: uppercase;
}

/*Stories Start*/

.story-grid {
  box-sizing: border-box;
  display: block;
}

section ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media only screen and (min-width: 600px) {

  
  section {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  
  form {
    -ms-flex-item-align: center;
            -webkit-align-self: center;
            align-self: center;
  }
  

}

@media only screen and (min-width: 1000px) {

}

@media (min-width: 600px)















